.btnClose {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  color: rgb(96, 96, 96);
}

.btnClose:hover {
  background: #f2f2f2;
}